#pagecols {  width:650px;  text-align:left;}
#column1 {  float:left; 
 width:650px;  }
#colbody1 {  border-top-width: 0px; border-top-style: none;
padding-top: 5px;
border-right-width: 0px; border-right-style: none;
padding-right: 5px;
border-bottom-width: 0px; border-bottom-style: none;
padding-bottom: 5px;
border-left-width: 0px; border-left-style: none;
padding-left: 5px;
  }
#body_pgbldblk21 { border-top-width: 0px; border-top-style: none;
padding-top: 5px;
border-right-width: 0px; border-right-style: none;
padding-right: 5px;
border-bottom-width: 0px; border-bottom-style: none;
padding-bottom: 5px;
border-left-width: 0px; border-left-style: none;
padding-left: 5px;
  width: 630px;   overflow: hidden;
  }
#body_pgbldblk11 { border-top-width: 0px; border-top-style: none;
padding-top: 5px;
border-right-width: 0px; border-right-style: none;
padding-right: 5px;
border-bottom-width: 0px; border-bottom-style: none;
padding-bottom: 5px;
border-left-width: 0px; border-left-style: none;
padding-left: 5px;
  width: 630px;   overflow: hidden;
  }
#column2 {  float:left;  }
#colbody2 {   }
#column3 {  float:left;  }
#colbody3 {   }

/*
     FILE ARCHIVED ON 22:42:44 Apr 15, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:57:02 Jul 30, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 83.559 (3)
  esindex: 0.012
  captures_list: 117.69
  CDXLines.iter: 25.411 (3)
  PetaboxLoader3.datanode: 143.883 (4)
  exclusion.robots: 0.336
  exclusion.robots.policy: 0.317
  RedisCDXSource: 4.271
  PetaboxLoader3.resolve: 39.288
  load_resource: 139.868
*/