
/*
     FILE ARCHIVED ON 11:57:36 Jan 28, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:56:19 Jul 30, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 44.941 (3)
  esindex: 0.009
  captures_list: 76.137
  CDXLines.iter: 19.351 (3)
  PetaboxLoader3.datanode: 102.977 (4)
  exclusion.robots: 0.181
  exclusion.robots.policy: 0.169
  RedisCDXSource: 8.081
  PetaboxLoader3.resolve: 37.909
  load_resource: 113.874
*/