#pagecols {  width:650px;  text-align:left;}
#column1 {  float:left; 
 width:650px;  }
#colbody1 {  border-top-width: 0px; border-top-style: none;
padding-top: 5px;
border-right-width: 0px; border-right-style: none;
padding-right: 5px;
border-bottom-width: 0px; border-bottom-style: none;
padding-bottom: 5px;
border-left-width: 0px; border-left-style: none;
padding-left: 5px;
  }
#body_pgbldblk17 { border-top-width: 0px; border-top-style: none;
padding-top: 5px;
border-right-width: 0px; border-right-style: none;
padding-right: 5px;
border-bottom-width: 0px; border-bottom-style: none;
padding-bottom: 5px;
border-left-width: 0px; border-left-style: none;
padding-left: 5px;
  width: 630px;   overflow: hidden;
  }
#body_pgbldblk46 { border-top-width: 0px; border-top-style: none;
padding-top: 5px;
border-right-width: 0px; border-right-style: none;
padding-right: 5px;
border-bottom-width: 0px; border-bottom-style: none;
padding-bottom: 5px;
border-left-width: 0px; border-left-style: none;
padding-left: 5px;
  width: 630px;   overflow: hidden;
  }
#column2 {  float:left;  }
#colbody2 {   }
#column3 {  float:left;  }
#colbody3 {   }

/*
     FILE ARCHIVED ON 22:44:29 Apr 15, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:05:55 Jul 30, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 87.014 (3)
  esindex: 0.012
  captures_list: 225.621
  CDXLines.iter: 13.197 (3)
  PetaboxLoader3.datanode: 63.734 (4)
  exclusion.robots: 0.2
  exclusion.robots.policy: 0.188
  RedisCDXSource: 121.942
  PetaboxLoader3.resolve: 68.401
  load_resource: 102.624
*/