
/*
     FILE ARCHIVED ON 11:57:36 Jan 28, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:06:24 Jul 30, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 65.028 (3)
  esindex: 0.006
  captures_list: 81.602
  CDXLines.iter: 12.146 (3)
  PetaboxLoader3.datanode: 44.737 (4)
  exclusion.robots: 0.223
  exclusion.robots.policy: 0.212
  RedisCDXSource: 1.605
  PetaboxLoader3.resolve: 60.886 (2)
  load_resource: 53.312
*/