/*
-----------------------------------------------------------------------------------------
CSS document: ImageCafe Template Styles
Created: 02/27/2006
Last Modified: 03/02/2006
NOTE: Template styles included here cannot be changed by the customer
-------------------------------------------------------------------------------------- */
* {margin:0;padding:0;}  /* zero out everything */
body {
	width:100%;
	background:#fff url(/web/20110128115728im_/http://superjonathan.com/images/ic_051_body_bg.gif) repeat-y 0 0;
}
/*
-----------------------------------------------------------------------------------------
Global
-------------------------------------------------------------------------------------- */
div {position:relative;}
h1, h2, h3, h4, h5, h6 {margin:10px;}
h1#website-title {margin:0;}
h2#website-slogan {margin:0;}
#navcontainer div h3 {margin:0;}
#navcontainer div h3 {margin:0;}
ul, ol {
	margin:10px;
	padding:0 0 0 20px;
}
ol {padding:0 0 0 30px;}
blockquote {margin:10px 10px 10px 40px;}
.clearer {clear:both;}
.fill-bar {
	float:left;
	width:100%;
	height:15px;
	background:#000;
	filter: alpha(opacity=10);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=10);
	-moz-opacity: 0.10; /* for older versions of Moz/FF */
	opacity:0.10;
}

/*
-----------------------------------------------------------------------------------------
General Layout Structure
-------------------------------------------------------------------------------------- */
#nav-top, #nav-left, #nav-right {
	float:left;
	width:100%;
}
#containerwrap {
	float:left;
	width:750px;
}
	#inner {float:left;}
#website-title {
	float:left;
	padding:35px 0 20px 20px;
}
#website-slogan {
	float:left;
	padding:20px 10px;
}
.accent-none {display:none;}
.accent {
	float:left;
	width:177px;
	height:364px;
}

/*
-----------------------------------------------------------------------------------------
=#NAV-TOP
-------------------------------------------------------------------------------------- */
/*------------------ Layout ------------------*/	
#nav-top #headertop {
	float:left;
	width:100%;
	border-bottom:1px solid #fff;
}
#nav-top #navcontainer {
	float:left;
	width:100%;
	z-index:1000;
}
	#nav-top #navcontainer #nav-wrapper {
		float:left;
		z-index:1000;
	}
#nav-top #containerwrap {
	float:left;
	width:100%;
}
#nav-top #inner {
	float:left;
	width:750px;
}	
	#nav-top #inner #slogan-container {
		float:left;
		width:177px;
	}	
	#nav-top #inner #content {
		float:left;
		width:573px;
	}
#nav-top #footer {
	clear:both;
	padding:10px;
	color:#fff;
	border-top:1px solid #fff;
}

/*------------------ Navigation Elements ------------------*/
#nav-top #navcontainer #nav-wrapper div, #nav-top #navcontainer #nav-wrapper div h3 {
	float:left;
	display:block;
	cursor:pointer;
}
	#nav-top #navcontainer #nav-wrapper div a:link, 
	#nav-top #navcontainer #nav-wrapper div a:active, 
	#nav-top #navcontainer #nav-wrapper div a:visited {
		float:left;
		border-right:1px dashed #939393;
		padding:10px;
		text-decoration:none;
		white-space: nowrap;
	}
	#nav-top #navcontainer #nav-wrapper div a:hover {padding-top:10px;}
		#nav-top #navcontainer #nav-wrapper div div.submenu, 
		#nav-top #navcontainer #nav-wrapper div div.submenu h3 {
			float:left;
			display:block;
		}
		#nav-top #navcontainer #nav-wrapper div div.submenu {
			position:absolute;
			top:0;
			left:0;
			visibility: hidden;
			border-top:1px solid #939393;
			width:176px;
		}
			#nav-top #navcontainer #nav-wrapper div div.submenu div {
				display:block;
				margin:0;
			}
			#nav-top #navcontainer #nav-wrapper div div.submenu a:link, 
			#nav-top #navcontainer #nav-wrapper div div.submenu a:active, 
			#nav-top #navcontainer #nav-wrapper div div.submenu a:visited {
				float:left;
				width:156px;
				border-bottom:1px solid #939393;
				border-right:0;
				word-wrap: break-word;
				white-space: normal;
			}
			#nav-top #navcontainer #nav-wrapper div div.submenu a:hover {
				padding-top:10px;
				border-top:0;
			}

/*------------------ Table Structures ------------------*/	
#nav-top #content-table {
	width:573px;
	float:left;
}
	#nav-top #content-table-main {width:100%;}
		#nav-top #content-table-main p {margin:10px 10px 15px 10px;}
					
/*
-----------------------------------------------------------------------------------------
=#NAV-LEFT
-------------------------------------------------------------------------------------- */
/*------------------ Layout ------------------*/	
#nav-left #headertop {
	float:left;
	width:100%;
	border-bottom:1px solid #fff;
}
#nav-left #navcontainer {
	float:left;
	width:177px;
	z-index:1000;
}
	#nav-left #navcontainer #nav-wrapper {
		float:left;
		width:177px;
		z-index:1000;
	}
	#nav-left #inner #slogan-container {
		float:left;
		width:177px;
	}	
	#nav-left #inner #content {float:left;}
#nav-left #footer {
	clear:both;
	padding:10px;
	color:#fff;
	border-top:1px solid #fff;
}

/*------------------ Navigation Elements ------------------*/
#nav-left #navcontainer #nav-wrapper div, #nav-left #navcontainer #nav-wrapper div h3 {
	float:left;
	display:block;
	cursor:pointer;
}
	#nav-left #navcontainer #nav-wrapper div {width:177px;}
	#nav-left #navcontainer #nav-wrapper div a:link, 
	#nav-left #navcontainer #nav-wrapper div a:active, 
	#nav-left #navcontainer #nav-wrapper div a:visited {
		float:left;
		border-bottom:1px dashed #939393;
		/*--- width for IE5 --*/
			width:177px;
		padding:10px;
		text-decoration:none;
		/*--- width for all other browsers --*/
			voice-family: "\"}\"";
			voice-family:inherit;
			width:157px;
			word-wrap: break-word;
	}
	#nav-left #navcontainer #nav-wrapper div a:hover {padding-top:10px;}
		#nav-left #navcontainer #nav-wrapper div div.submenu, 
		#nav-left #navcontainer #nav-wrapper div div.submenu h3 {
			float:left;
			display:block;
		}
		#nav-left #navcontainer #nav-wrapper div div.submenu {
			position:absolute;
			top:0;
			left:0;
			visibility: hidden;
			border-left:1px solid #939393;
			width:176px;
		}
			#nav-left #navcontainer #nav-wrapper div div.submenu div {
				display:block;
				margin:0;
			}
			#nav-left #navcontainer #nav-wrapper div div.submenu a:link, 
			#nav-left #navcontainer #nav-wrapper div div.submenu a:active, 
			#nav-left #navcontainer #nav-wrapper div div.submenu a:visited {
				float:left;
				word-wrap: break-word;
			}
			#nav-left #navcontainer #nav-wrapper div div.submenu a:hover {
				padding-top:10px;
				border-top:0;
			}

/*------------------ Table Structures ------------------*/	
#nav-left #content-table {
	width:396px;
	float:left;
}
	#nav-left #content-table-main {width:100%;}
		#nav-left #content-table-main p {margin:10px 10px 15px 10px;}

	
/*
-----------------------------------------------------------------------------------------
=#NAV-RIGHT
-------------------------------------------------------------------------------------- */
/*------------------ Layout ------------------*/	
#nav-right #headertop {
	float:left;
	width:100%;
	border-bottom:1px solid #fff;
}
#nav-right #navcontainer {
	float:right;
	width:177px;
	z-index:1000;
}
	#nav-right #navcontainer #nav-wrapper {
		float:left;
		width:177px;
		z-index:1000;
	}
#nav-right #inner {
	float:left;
	width:573px;
}	
	#nav-right #inner #slogan-container {
		float:left;
		width:177px;
	}	
	#nav-right #inner #content {float:left;}
#nav-right #footer {
	clear:both;
	padding:10px;
	color:#fff;
	border-top:1px solid #fff;
}

/*------------------ Navigation Elements ------------------*/
#nav-right #navcontainer #nav-wrapper div, #nav-right #navcontainer #nav-wrapper div h3 {
	float:left;
	display:block;
	cursor:pointer;
}
	#nav-right #navcontainer #nav-wrapper div {width:177px;}
	#nav-right #navcontainer #nav-wrapper div a:link, 
	#nav-right #navcontainer #nav-wrapper div a:active, 
	#nav-right #navcontainer #nav-wrapper div a:visited {
		float:left;
		border-bottom:1px dashed #939393;
		/*--- width for IE5 --*/
			width:177px;
		padding:10px;
		text-decoration:none;
		/*--- width for all other browsers --*/
			voice-family: "\"}\"";
			voice-family:inherit;
			width:157px;
			word-wrap: break-word;
	}
	#nav-right #navcontainer #nav-wrapper div a:hover {padding-top:10px;}
		#nav-right #navcontainer #nav-wrapper div div.submenu, 
		#nav-right #navcontainer #nav-wrapper div div.submenu h3 {
			float:left;
			display:block;
		}
		#nav-right #navcontainer #nav-wrapper div div.submenu {
			position:absolute;
			top:0;
			left:0;
			visibility: hidden;
			border-right:1px solid #939393;
			width:176px;
		}
			#nav-right #navcontainer #nav-wrapper div div.submenu div {
				display:block;
				margin:0;
			}
			#nav-right #navcontainer #nav-wrapper div div.submenu a:link, 
			#nav-right #navcontainer #nav-wrapper div div.submenu a:active, 
			#nav-right #navcontainer #nav-wrapper div div.submenu a:visited {
				float:left;
				word-wrap: break-word;
			}
			#nav-right #navcontainer #nav-wrapper div div.submenu a:hover {
				padding-top:10px;
				border-top:0;
			}

/*------------------ Table Structures ------------------*/	
#nav-right #content-table {
	width:396px;
	float:left;
}
	#nav-right #content-table-main {width:100%;}
		#nav-right #content-table-main p {margin:10px 10px 15px 10px;}

		
/*
-----------------------------------------------------------------------------------------
WIDE LAYOUT STYLES
-------------------------------------------------------------------------------------- */
body#wide {background:#fff url(/web/20110128115728im_/http://superjonathan.com/images/ic_051_body_bg_wide.gif) repeat-y 0 0;}
body#wide #containerwrap {width:900px;}

/*------------------------------------ NAV-TOP ------------------------------------*/
body#wide #nav-top #inner {width:900px;}	
	body#wide #nav-top #inner #content {width:723px;}
body#wide #nav-top #content-table {width:723px;}
	
/*------------------------------------ NAV-LEFT ------------------------------------*/
body#wide #nav-left #content-table {width:546px;}

/*------------------------------------ NAV-RIGHT ------------------------------------*/
body#wide #nav-right #inner {width:723px;}	
body#wide #nav-right #content-table {width:546px;}

/*
     FILE ARCHIVED ON 11:57:28 Jan 28, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:06:24 Jul 30, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 61.815 (3)
  esindex: 0.01
  captures_list: 86.359
  CDXLines.iter: 13.019 (3)
  PetaboxLoader3.datanode: 74.079 (4)
  exclusion.robots: 0.368
  exclusion.robots.policy: 0.351
  RedisCDXSource: 7.73
  PetaboxLoader3.resolve: 41.152
  load_resource: 68.289
*/